@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./variables.css";
@custom-variant dark (&:is(.dark *));

@layer base {
	body {
	  background: var(--background);
	  color: var(--foreground);
	  font-family: var(--font-body), ui-sans-serif, system-ui, sans-serif;
    @apply bg-background text-foreground;
	}

	img:not([data-nimg]) {
		@apply w-auto h-auto;
	}

	html {
	  scroll-behavior: smooth;
	  overflow-x: clip;
	  overscroll-behavior: none;
    @apply font-body;
	}

	/* Scrollable Area */
	body::-webkit-scrollbar {
	  width: 11px
	}

	body::-webkit-scrollbar-track {
	  background: var(--background);
	  border-radius: 1px;
	}

	body::-webkit-scrollbar-thumb {
	  background: var(--secondary);
	  border-radius: 1px;
	}

	@supports not selector(::-webkit-scrollbar) {
	  body {
	    scrollbar-color: var(--primary)
	                    var(--background);
	  }
	}

	/*Headings*/
	/*h1, h2, h3, h4, h5, h6 {
	  font-family: var(--font-brogetta), var(--font-body), ui-sans-serif, system-ui, sans-serif;
	}*/
	h1 {
	  font-size: 2.5rem;
	  line-height: 1.1;
	}
	h2 {
	  font-size: 2rem;
	  line-height: 1.2;
	}
	h3 {
	  font-size: 1.5rem;
	  line-height: 1.3;
	}
	h4 {
	  font-size: 1.25rem;
	  line-height: 1.4;
	}
	h5 {
	  font-size: 1.125rem;
	  line-height: 1.4;
	}
	h6 {
	  font-size: 1rem;
	  line-height: 1.5;
	}
  * {
    @apply border-border outline-ring/50;
	}
}

/* Utility Classes */
@utility flex-center {
	@apply flex items-center justify-center;
}

@utility flex-col-center {
	@apply flex flex-col items-center justify-center;
}

@utility section-padding {
	@apply py-10 md:py-12 px-5 md:px-8;
}

/*Animations*/
@keyframes ctaSweep {
	0%, 100% { margin-left: -10%; }
	50% { margin-left: 77%; }
}
