@import "tailwindcss";
@import "@heroui/styles"; 

@theme inline {
	/*BodyText*/
  --font-sans: var(--font-body), ui-sans-serif, system-ui, sans-serif;
	/*HeadingText*/
  --font-heading: var(--font-display), var(--font-body), ui-sans-serif, system-ui, sans-serif;
	/*BrandText*/
  --font-brogetta: var(--font-brogetta), var(--font-body), ui-sans-serif, system-ui, sans-serif;
  --font-quera: var(--font-quera), var(--font-body), ui-sans-serif, system-ui, sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
}

:root {
	--primary: #12623A;

  --background: #0b0f19;
  --foreground: #fdefc9;

  --secondary: #5D8B63;
  --accent: #789C75;
  --surface: #111827;
  --surface-foreground: #f9fafb;

  --muted: #1f2937;
  --muted-foreground: #9ca3af;

  --border: #374151;

  --success: #22c55e;
  --success-foreground: #ffffff;

  --danger: #ef4444;
  --danger-foreground: #ffffff;

  --warning: #f59e0b;
  --warning-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  margin: 0 20px;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility flex-col-center {
	@apply flex flex-col items-center justify-center;
}

/*Headings*/
/*h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-brogetta), var(--font-body), ui-sans-serif, system-ui, sans-serif;
}*/
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.4;
}
h6 {
  font-size: 1rem;
  line-height: 1.5;
}
